settings set target.x86-disassembly-flavor intel
settings set prompt "(bwaegene) "
settings set use-color true
script print "\033[0;32m░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░\n░░░░░░░░▄▀░░░░░░░░░░░░▄░░░░░░░▀▄░░░░░░░\n░░░░░░░░█░░▄░░░░▄░░░░░░░░░░░░░░█░░░░░░░\n░░░░░░░░█░░░░░░░░░░░░▄█▄▄░░▄░░░█░▄▄▄░░░\n░▄▄▄▄▄░░█░░░░░░▀░░░░▀█░░▀▄░░░░░█▀▀░██░░\n░██▄▀██▄█░░░▄░░░░░░░██░░░░▀▀▀▀▀░░░░██░░\n░░▀██▄▀██░░░░░░░░▀░██▀░░░░░░░░░░░░░▀██░\n░░░░▀████░▀░░░░▄░░░██░░░▄█░░░░▄░▄█░░██░\n░░░░░░░▀█░░░░▄░░░░░██░░░░▄░░░▄░░▄░░░██░\n░░░░░░░▄█▄░░░░░░░░░░░▀▄░░▀▀▀▀▀▀▀▀░░▄▀░░\n░░░░░░█▀▀█████████▀▀▀▀████████████▀░░░░\n░░░░░░████▀░░███▀░░░░░░▀███░░▀██▀░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\033[0m"
