settings set target.x86-disassembly-flavor intel
settings set prompt "(bwaegene) "
settings set use-color true
script print "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\n░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░\n░░░░░░░░▄▀░░░░░░░░░░░░▄░░░░░░░▀▄░░░░░░░\n░░░░░░░░█░░▄░░░░▄░░░░░░░░░░░░░░█░░░░░░░\n░░░░░░░░█░░░░░░░░░░░░▄█▄▄░░▄░░░█░▄▄▄░░░\n░▄▄▄▄▄░░█░░░░░░▀░░░░▀█░░▀▄░░░░░█▀▀░██░░\n░██▄▀██▄█░░░▄░░░░░░░██░░░░▀▀▀▀▀░░░░██░░\n░░▀██▄▀██░░░░░░░░▀░██▀░░░░░░░░░░░░░▀██░\n░░░░▀████░▀░░░░▄░░░██░░░▄█░░░░▄░▄█░░██░\n░░░░░░░▀█░░░░▄░░░░░██░░░░▄░░░▄░░▄░░░██░\n░░░░░░░▄█▄░░░░░░░░░░░▀▄░░▀▀▀▀▀▀▀▀░░▄▀░░\n░░░░░░█▀▀█████████▀▀▀▀████████████▀░░░░\n░░░░░░████▀░░███▀░░░░░░▀███░░▀██▀░░░░░░\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
